@import './_mixins.scss';

a {
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.button {
  height: 30px;
  border: 1px solid transparent;
  padding: 2px 5px;
  cursor: pointer;

  &--submit {
    background-color: var(--theme-colour);
    color: var(--constrast-colour);
    outline-color: var(--outline-colour, #00f);

    &:focus,
    &:hover,
    &:active {
      border-color: var(--hover-colour, #00f);
    }
  }
}

input {
  border-color: var(--theme-colour);
  outline-color: var(--theme-colour);
}

.form {
  display: flex;
  align-items: flex-end;

  @include respondTo(xxs) {
    flex-wrap: wrap;
  }
}

.button-group {
  margin: 0 25px;

  @include respondTo(xxs) {
    margin: 20px 0 0;
  }
}

.text-input {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  min-width: 300px;
}

// checkbox
.checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2px;
  cursor: pointer;
}

.checkbox__input {
  appearance: none;
  transition: all 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 5px;

  &::before,
  &:checked::before {
    color: var(--base-colour, #000);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 1;
  }

  &::before {
    content: '\2610\FE0E';
    font-size: 2em;
  }
  &:disabled::before {
    content: '\274c\FE0E';
    color: var(--disabled-colour, #666);
    cursor: default;
  }
  &:checked::before {
    content: '\2611\FE0E';
    color: var(--theme-colour, #0f0);
  }
}
