:root {
  --top-bar-height: 50px;
  --theme-colour: #66023c;
  --constrast-colour: #fff;

  --hover-colour: #f1f1f1;

  font-size: 16px;
  font-family: 'Lucida Console', Consolas, monospace;
}

a {
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
