:root {
  --top-bar-height: 50px;
  --theme-colour: #66023c;
  --constrast-colour: #fff;

  --success-colour: forestgreen;

  --hover-colour: #ffe876;
  --outline-colour: #ffd700;

  --block-border-colour: #000;

  font-size: 16px;
  font-family: 'Lucida Console', Consolas, monospace;
}
